.footer{
    background-color: $black;
    width: 100%;
    background-image: url("../../img/background_digitalcamo.jpg");
}
.footer-wrap{
    padding: 15px 0;
}




@media (max-width:480px){
    .footer-menu{
        justify-content: flex-start;
        padding-left: 10px;
    }
}

.footer-text{
    display: block;
    border: none;
    text-align: center;
    color:$text-color;
}